.asideTextPart {
    margin-top:90px;
}


.asideTextPart div p {
    width:100%;
    display: inline-block;
}

.blogAside { 
    flex-basis: 40%;
}

@media (max-width:960px) {
    .blogAside {
        flex-basis:none;
    }
}