.asideTextPart {
    margin-top:90px;
    div p{
        width:100%;
        display: inline-block;
    }
}

.blogAside { 
    flex-basis: 40%;
}

// Media Query Start
@media (max-width:960px) {
    .blogAside {
        flex-basis:none;
    }
}

// Media Query End