.blogMain {
    background-color:$pine;
    display: flex;
}

.blogTextPart {
    border-left:5px solid $yellow;
    border-bottom:5px solid $yellow;
    padding: 0px 0 50px 10px;
    margin-right:0;
    position: relative;
    top:-65px;
    h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 44px;
        line-height:99.8px;
        color:$yellow;
    }
    p {
        font-size:20px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom:50px;
        color:white;
    }
    .blogPartSubtitle {
        font-weight: 900;
    }
}

.blogImageRight {
    width:100%;
    position: relative;
    top:-80px;
    box-shadow:-20px 20px $yellow ;
}

.blogImageAndTextPart {
    flex-basis: 60%;
    position: relative;
}

.blogCommentTextPart1, 
.blogCommentTextPart2 {
    color:white;
    margin:20px;
    margin-top:0px;
    h3 {
        color:$yellow;
        padding-bottom:10px;
    }
    p {
        line-height: 28px;
        letter-spacing: 1px;
        font-size:20px;
        width:100%;
    }
}

.blogCommentFull1, 
.blogCommentFull2 {
    display:flex;
    width:90%;
    padding:20px;
    padding-left:0;
    img {
        padding-right: 20px;
    }
}

.blogComment {
    padding-top:50px;
    h2 {
        color:white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 45px;
        line-height:99.8px;
        
    }
}

.blogContactFormRight {
    background-color:$pine;
    display:flex;
    justify-content: flex-end;
    fieldset {
        width:50%;
        margin-right:100px;
        background-color:$pine;
    }
}

label {
    visibility: hidden;
    font-size:1px;
}

.blogContactName, 
.blogContactEmail {
    display:inline-block;
    input {
        width:290px;
        height:40px;
        border:none;
        border-bottom: 2px solid $yellow;
        background-color:$pine;
        color:white;
    }
}

.blogContactMessage {
    display:block;
    input {
        width:100%;
        height:200px;
        border: 2px solid $yellow;
        background-color:$pine;
        color:white;
        padding-bottom:120px;
        padding-left:20px;
    }
    margin-bottom:40px;
}

.blogContactNameAndEmail {
    display:flex;
    justify-content: space-between;
}

.postCommentButton {
    height:20px;
    button {
        border:none;
        height:40px;
        width:100%;
        background-color:$yellow;
        display:block;
    }
}

.postCommentButton button:hover {
    color:$yellow;
    background:black;
}

.blogContactFormRight fieldset {
    border:none;
    background-color:$pine;
}

@media (max-width:1260px) {
    .blogHeader h1 {
        font-size:69px;
    }
}

@media (max-width:1222px) {
    .blogContactFormRight {
        justify-content: center;
        fieldset {
            width:50%;
            margin-right:0;
        }
    }

    .blogContactNameAndEmail {
        display: flex;
        flex-direction: column;
        .inputName, 
        .inputEmail {
            width:100%;
        }
    }
}

@media (max-width:1020px) {
    .blogMain {
        flex-direction: column-reverse;
    }

    .blogTextPart h2 {
        margin-top:50px;
        line-height:70px;
    }

    .asideTextPart {
        width: 80%;
        padding-left:20px;
        padding-right:20px;
        margin-left:10%;
    }

    .blogAsideImgDiv img {
        left:25%;
        right:0%;
        top:10px;
    }
}

@media (max-width:760px) {
    .asideTextPart {
        padding-left:20px;
        padding-right:20px;
        margin-left:10%;
    }
    
    .blogAsideImgDiv img {
        left:0%;
        right:0%;
        top:0px;
    }
}

@media (max-width: 650px) {
    
    .blogCommentFull1, 
    .blogCommentFull2 {
        display: flex;
        flex-direction: column;
    }

    .profilePic1, 
    .profilePic2 {
        display: flex;
        justify-content: space-around;
        img {
        margin-bottom:20px;
        }
    }

    .blogComment h2 {
        text-align: center;
    }

    .blogContactFormRight {
        fieldset {
            width:90%;
            margin-right:0px;
        }
    }
}

@media (max-width:480px) {
    
    .blogImageRight {
        box-shadow:none;
    }

}

@media (max-width:452px) {
    .blogTextPart h2 {
        font-size:35px;
    }
}

