.blogHeader {
    background:url(../assets/blog-header.jpg);
    height:80vh;
}

.blogList {
    list-style: none;
    padding-top:50px;
    width:40%;
    display:flex;
    justify-content: flex-start;
    li {
        padding:10px;
    }
}

.blogListAside {
    color:white;
    line-height: 28px;
    letter-spacing: 1px;
    font-size:20px;
    padding-left:40px;
}

.blogHeaderFour {
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px;
    line-height: 58px;
    letter-spacing: 0.8px;
    color:#FFD300;
    h4 {
        padding-top:0;
        font-size:20px;
    }
}

.asideTextPart {
    width:350px;
    background-color:#161A10;
    padding-left:20px;
    // padding-top:50px;
    padding-bottom:20px;
    margin-left:30px;
    p {
        line-height: 28px;
        letter-spacing: 1px;
        font-size:20px;
        color:white;
    }
    h4 {
        font-size:23px;
    }
}

.blogAsideImgDiv {
    display:inline-block;
}

.blogAsideImgDiv img {
    padding-top:0px;
    display:block;
    width:100%;
    position: relative;
    left:-50px;
    top:-20px;
    // box-shadow: 85px 110px #161A10;
}


