.contactHeader {
    background:url(../assets/contact-header.jpg);
    background-repeat: none;
    height:70vh;
    position: relative;
}

.contactMain {
    background-color:#2B331B;
    position:relative;
    height:450px;
}

.contactSocialIcons {
    display:flex;
    list-style:none;
    i {
        color:#FFD300;
    }
}

.contactList {    /* does this do anything? */
    list-style: none;
    padding-top:50px;
    width:40%;
    display:flex;
    justify-content: flex-start;
    li {
        padding:10px;
    }
}

.contactInfoLeft {
    padding-top:120px;
}

.asideAndSection {
    display:flex;
}

.fabContact {
    color:black;
}

.contactInfoList {
    list-style: none;
}

.socialIcons {
    list-style:none;
    li:first-child {
        padding-left:10px;
    }
}

.contactSocialIcons a i {
    font-size:25px;
}

.contactFormRight {
    height:400px;
    width:800px;
    box-shadow: 20px 20px #FFD300;
    position: absolute;
    top:-130px;
    right:40px;
    fieldset {
        padding:30px 40px 20px 30px;
        margin-right:0;
    }
}

label {
    visibility: hidden;
    font-size:1px;
}

.contactName, 
.contactEmail {
    display:inline-block;
    input {
        width:290px;
        height:40px;
        border:none;
        border-bottom: 4px solid #FFD300;
        background-color:#161A10;
        color:white;
    }
}

.contactInfoEmail,
.contactInfoList {
    color:white;
    font-size:20px;
    letter-spacing:1px;
    line-height:28px;
}

.contactInfoEmail {
    padding-bottom:30px;
    padding-top:20px;
}

.contactInfoList li {
    padding-bottom:5px;
    font-family: 'Barlow', sans-serif;
}

.contactMessage {
    display:block;
    input {
        width:100%;
        height:200px;
        border: 4px solid #FFD300;
        background-color:#161A10;
        color:white;
        padding-bottom:120px;
        padding-left:20px;
    }
    margin-bottom:40px;
}

.contactNameAndEmail {
    display:flex;
    justify-content: space-between;
}

.submitButton {
    height:20px;
    button {
        border:none;
        padding:15px 300px;
        background-color:#FFD300;
    }
}

a.submitButton {
    padding-left:0;
}

.contactFormRight fieldset {
    border:none;
    background-color:#161A10;
}

input[type="email"]::placeholder, input[type="text"]::placeholder {
    color:rgb(255,255,255);
    opacity:1;
}

@media (max-width:1260px) {
    .contactFormRight {
        height:400px;
        width:800px;
        box-shadow: 10px 10px #FFD300;
        position: absolute;
        top:-60px;
        right:40px;
        fieldset {
            padding:30px 40px 20px 30px;
            margin-right:0;
        }
    }


    .contactInfoLeft {
        padding-top:260px;
    }
}

@media (max-width:1120px) {
    .contactFormRight {
        height:400px;
        width:600px;
        box-shadow: 10px 10px #FFD300;
        position: absolute;
        top:-160px;
        right:40px;
        fieldset {
            margin-right:0;
        }
    }
    
    .submitButton {
        button {
            padding:15px 250px;
        }
    }

    .contactInfoLeft {
        padding-top:300px;
    }
}