.copyright {
    background-color:#0F0F0F;
    height:40px;
    color:white;
    text-align:center;
    font-size:20px;
    letter-spacing: 1px;
    padding:10px 0;
}

footer {
    background-color:#2B331B;
}

.footerImages {
    display: flex;
    img {
        width:calc(100% - 20px);
        // padding:1px;
        padding-bottom:40px;
    }
}