.copyright {
    background-color:#0F0F0F;
    height:40px;
    color:white;
    text-align:center;
    font-size:20px;
    letter-spacing: 1px;
    padding:10px 0;
}

footer {
    background-color:#2B331B;
}

.footerImages {
    display: flex;
    img {
        width:100%;
        padding:0 10px;
        padding-bottom:40px;
    }
}

.footerImages .footerImage1 {
    padding-left:0;
}

.footerImages .footerImage3 {
    padding-right:0;
}

@media (max-width:1080px) {
    .wrapper {
        max-width:1080px;
        width:90%;
    }

    .footerImages {
        display:block;
    }

    .footerImages img{
        flex-wrap: wrap;
        width:100%;
        padding:0;
        padding-bottom:40px;
    }

    .footerImage1 {
        margin-top:80px;
    }
}