header {
    background:url(../assets/home-header.jpg);
    background-repeat: none;
    height:85vh;
    position: relative;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 69px;
    color:white;
    padding-top:100px;
    line-height: 50px;
    height:200px;
    div {
        background-color: white;
        color:black;
        width:470px;
        padding-top:15px;
        height:70px;
        margin-top:15px;
        margin-bottom:15px;
    }
}

.homeList {
    list-style: none;
    padding-top:50px;
    width:40%;
    display:flex;
    justify-content: flex-start;
    li {
        padding:10px;
    }
}

ul li:first-child {
    padding-left:0;
        a:first-child {
            padding-left:0;
        }
}

a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    padding:10px;
    position: relative;
    // transition: ease-in-out 0.9s;
}

nav a:hover::after {
    content:"";
    background-color:#FFD300;
    width:100%;
    height:2px;
    position: absolute;
    bottom:0;
    left:0;
}

.topRightImage {
    position: absolute;
    right:0;
    top:220px;
    height:580px;
}


// Media Query Start

@media (max-width:1260px) {
    .topRightImage {
        height:480px;
    }

    h1 {
        font-size: 55px;
        line-height: 40px;
        div {
            width:380px;
            padding-top:10px;
            height:60px;
        }
    }
}

@media (max-width:1080px) {
    .topRightImage {
        height:400px;
        top:400px;
    }

    h1 {
        font-size: 45px;
        div {
            width:310px;
        }
    }

}

@media (max-width:480px) {
    .topRightImage {
        width:100%;
        height:auto;
        top:480px;
    }

    .homeList {
        visibility: hidden;
    }

}