.partFour {
    height:80vh;
    background-color:#2B331B;
    p {
        color:white;
        font-size:20px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom:50px;
    }
    .smallImageLeftHalf {
        width:20%;
        padding-top:150px;
        img {
            box-shadow: -25px 25px #FFD300;
        }
    }
}

.partFourTextSection {
    width:80%;
    h2 {
        // margin-left:15%;
    }
    p {
        // width:70%;
        // margin-left:20%;
    }
}

.partFourImageAndText {
    display:flex;
    margin-left:400px;
}

.partFourHeaderAndPara {
    padding-left:60px;
}

.partFourBringing {
    text-align:left;
    line-height:50px;
    font-size:43px;
    margin-bottom:20px;
}

.partFourButton {
    text-align:left;
    padding-left:20px;
}


@media (max-width: 1200px) {
    .smallImageLeftHalf {
        padding-top:150px;
        // width:100%;
        img {
            width:250px;
        }
    }
}

@media (max-width:1080px) {
    .wrapper {
        max-width:1080px;
        width:100%;
    }
    
    .smallImageLeftHalf img {
        width:230px;
    }
}

@media (max-width:932px) {
    .partFourTextSection {
        width:90%;
    }

    .partFour {
        height:auto;
    }

    .partFour .wrapper {
        width:100%;
    }
 
    .smallImageLeftHalf {
        display: none;
    }

    .partFourBringing {
        padding-top:100px;
        text-align: center;
    }

    .partFourTextSection h2, .partFourImageAndText p {
        width:100%;
    }

    .partFourHeaderAndPara {
        padding-left:10px;
        p {
        margin-bottom:30px;
        }
    }

}