.partThree {
    background-color:#2B331B;
    .bannerImage {
        background:url(../assets/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height:60vh;
        margin-top:130px;
    }
    p {
        color:white;
        font-size:20px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom:50px;
        width:90%;
        padding-left:5%;
    }
}

.blackButton {
    background-color: #0F0F0F; 
    font-family: 'Josefin Sans', sans-serif;
    font-size:22.4px;
    text-align: center;
    line-height:41.6px;
    padding:15px 20px;
    button {
        border:none;
        background-color: #0F0F0F; 
        color:white;
    }
}

.partThree .blackButton, .partFour .blackButton {
    margin-left:0;
    margin:0 auto;
}

.partThreeButton, .partFourButton  {
    text-align: center;
}

.partThreeWin, 
.partFourBringing {
    color:#FFD300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    line-height:99.8px;
    text-align: center;
    padding-top:150px;
}

@media (max-width:760px) {
    .partThree p {
        width:100%;
        padding-left:0;
    }

    .partThreeWin {
        line-height:50px;
        padding-bottom:20px;
    }

    .bannerImage {
        
    }
}