.partFour {
    height:80vh;
    background-color:$pine;
    p {
        color:white;
        font-size:20px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom:50px;
    }
    .smallImageLeftHalf {
        width:20%;
        padding-top:150px;
        img {
            box-shadow: -25px 25px $yellow;
        }
    }
}

.partFourImageAndText {
    display:flex;
    margin-left:400px;
}

.partFourHeaderAndPara {
    padding-left:60px;
}

.partFourBringing {
    text-align:left;
    line-height:50px;
    font-size:43px;
    margin-bottom:20px;
}

.partFourButton {
    text-align:left;
    padding-left:20px;
}

// Media Query Start
@media (max-width: 1200px) {
    .smallImageLeftHalf {
        padding-top:150px;
        img {
            width:250px;
        }
    }
}

@media (max-width:1080px) {
    .wrapper {
        max-width:1080px;
        width:100%;
    }
    
    .smallImageLeftHalf img {
        width:230px;
    }

    .blackButton {
        font-size:22.4px;
        line-height:40px;
    }
}

@media (max-width:932px) {
    .partFour {
        height:auto;
    }

    .partFour .wrapper {
        width:90%;
    }
 
    .smallImageLeftHalf {
        display: none;
    }

    .partFourBringing {
        padding-top:100px;
        text-align: center;
    }

    .partFourTextSection h2, 
    .partFourImageAndText p {
        width:100%;
    }

    .partFourHeaderAndPara {
        padding-left:10px;
        p {
            margin-bottom:30px;
        }
        .blackButton {
            margin-bottom:10px;
            display:inline-block;
        }
    }

    .partFourButton {
        text-align:center;
        margin:0 auto;
    }
}
// Media Query End