@import "./setup";
@import "./header";
@import "./partOne";
@import "./partTwo";
@import "./partThree";
@import "./partFour";
@import "./footer";
@import "./blogHeader";
@import "./blogMain";
@import "./blogAside";
@import "./contactHeader";

$yellow: #FFD300;
$pine: #2B331B;
$almostBlack: #171B0E;
$blackColor:#0F0F0F;

* {
    margin:0;
    padding:0;
}

.wrapper {
    max-width:1200px;
    width: 80%;
    margin:0 auto;
}

p {
    font-family: 'Barlow', sans-serif;
}

.yellowButton:hover {
    background:black;
    color:$yellow;
}

.blackButton:hover {
    background:white;
    color:black;
}