article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background: url(../assets/home-header.jpg);
  background-repeat: none;
  height: 85vh;
  position: relative;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 69px;
  color: white;
  padding-top: 100px;
  line-height: 50px;
  height: 200px;
}

h1 div {
  background-color: white;
  color: black;
  width: 470px;
  padding-top: 15px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.homeList {
  list-style: none;
  padding-top: 50px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.homeList li {
  padding: 10px;
}

ul li:first-child {
  padding-left: 0;
}

ul li:first-child a:first-child {
  padding-left: 0;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  padding: 10px;
  position: relative;
}

nav a:hover::after {
  content: "";
  background-color: #FFD300;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.topRightImage {
  position: absolute;
  right: 0;
  top: 220px;
  height: 580px;
}

@media (max-width: 1260px) {
  .topRightImage {
    height: 480px;
  }
  h1 {
    font-size: 55px;
    line-height: 40px;
  }
  h1 div {
    width: 380px;
    padding-top: 10px;
    height: 60px;
  }
}

@media (max-width: 1080px) {
  .topRightImage {
    height: 400px;
    top: 400px;
  }
  h1 {
    font-size: 45px;
  }
  h1 div {
    width: 310px;
  }
}

@media (max-width: 480px) {
  .topRightImage {
    width: 100%;
    height: auto;
    top: 480px;
  }
  .homeList {
    visibility: hidden;
  }
}

.partOne {
  background-color: #2B331B;
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 900px;
}

.partOne .partOneParaOne,
.partOne .partOneParaTwo,
.partOne .partOneParaThree,
.partOne .partOneParaFour {
  width: calc(50% - 20px);
  color: white;
  display: inline-block;
}

.partOne .partOneParaOne p,
.partOne .partOneParaTwo p,
.partOne .partOneParaThree p,
.partOne .partOneParaFour p {
  line-height: 28px;
  letter-spacing: 1px;
  width: 100%;
}

.partOne .partOneParaOne div,
.partOne .partOneParaTwo div,
.partOne .partOneParaThree div,
.partOne .partOneParaFour div {
  width: calc(100% - 80px);
  /*added padding & width assigned for icon */
  display: inline-block;
  padding: 10px;
}

.partOne .partOneParaOne i,
.partOne .partOneParaTwo i,
.partOne .partOneParaThree i,
.partOne .partOneParaFour i {
  display: inline-block;
}

.partOneParaTwo,
.partOneParaFour {
  margin-left: 20px;
}

.headerLocation,
.headerCommunity,
.headerBlog,
.headerGetInTouch {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  line-height: 99.8px;
}

.fasPartOne {
  background-color: #FFD300;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: black;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

@media (max-width: 1190px) {
  .headerGetInTouch {
    line-height: 50px;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    max-width: 1080px;
    width: 80%;
  }
  .headerGetInTouch {
    line-height: 50px;
  }
}

@media (max-width: 800px) {
  .partOne {
    height: auto;
    display: block;
  }
  .partOne .partOneParaOne,
  .partOne .partOneParaTwo,
  .partOne .partOneParaThree,
  .partOne .partOneParaFour {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .partOne h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 480px;
    width: 90%;
  }
  .partOne h2 {
    font-size: 33px;
  }
}

.partTwo {
  background-color: #171B0E;
  padding-bottom: 150px;
}

.partTwo h3, .partTwo p {
  color: white;
}

.partTwo .textPartRight,
.partTwo .textPartLeft,
.partTwo .imagePartLeft,
.partTwo .imagePartRight {
  width: 50%;
}

.partTwo h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  padding-top: 100px;
}

.partTwo p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.imagePartLeft {
  position: absolute;
  top: -50px;
  left: -140px;
  -webkit-box-shadow: 130px 20px #FFD300;
          box-shadow: 130px 20px #FFD300;
}

.imagePartRight {
  position: absolute;
  top: 130px;
  right: -40px;
  -webkit-box-shadow: -30px 30px #FFD300;
          box-shadow: -30px 30px #FFD300;
}

.textPartLeft {
  text-align: right;
  padding: 10px;
}

.yellowButton {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22.4px;
  text-align: center;
  line-height: 41.6px;
  background-color: #FFD300;
  padding: 15px 20px;
}

.yellowButton button {
  border: none;
  background-color: #FFD300;
}

.partTwoTop,
.partTwoBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.partThree {
  height: 80vh;
  background-color: #2B331B;
}

.partThree img {
  width: 100%;
  padding-top: 150px;
}

.partThree p {
  color: white;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  width: 90%;
  padding-left: 5%;
}

.blackButton {
  background-color: #0F0F0F;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22.4px;
  text-align: center;
  line-height: 41.6px;
  padding: 15px 20px;
  margin-left: 40%;
}

.blackButton button {
  border: none;
  background-color: #0F0F0F;
  color: white;
}

.partThreeWin,
.partFourBringing {
  color: #FFD300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  line-height: 99.8px;
  text-align: center;
  padding-top: 150px;
}

.partFour {
  height: 80vh;
  background-color: #2B331B;
  margin-top: 400px;
}

.partFour p {
  color: white;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.partFour .smallImageLeftHalf {
  width: 20%;
  padding-top: 150px;
}

.partFour .smallImageLeftHalf img {
  -webkit-box-shadow: -25px 25px #FFD300;
          box-shadow: -25px 25px #FFD300;
}

.partFourTextSection {
  width: 80%;
}

.partFourTextSection h2 {
  margin-left: 15%;
}

.partFourTextSection p {
  width: 70%;
  margin-left: 20%;
}

.partFourImageAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 400px;
}

.copyright {
  background-color: #0F0F0F;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 0;
}

footer {
  background-color: #2B331B;
}

.footerImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerImages img {
  width: calc(100% - 20px);
  padding-bottom: 40px;
}

.blogHeader {
  background: url(/assets/blog-header.jpg);
  height: 80vh;
}

.blogList {
  list-style: none;
  padding-top: 50px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogList li {
  padding: 10px;
}

.blogListAside {
  color: white;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 40px;
}

.blogHeaderFour {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.8px;
  color: #FFD300;
}

.asideTextPart {
  width: 350px;
  background-color: #161A10;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px;
}

.asideTextPart p {
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}

.asideTextPart h4 {
  padding-top: 20px;
  font-size: 23px;
}

.blogAsideImgDiv {
  display: inline-block;
}

.blogAside img {
  padding-top: 90px;
  display: block;
  width: 70%;
  -webkit-box-shadow: 85px 110px #161A10;
          box-shadow: 85px 110px #161A10;
}

.blogMain {
  background-color: #2B331B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogTextPart {
  width: 74%;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  padding: 550px 0 50px 80px;
  margin-right: 0;
}

.blogTextPart h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 44px;
  line-height: 99.8px;
  color: #FFD300;
}

.blogTextPart p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  color: white;
}

.blogTextPart .blogPartSubtitle {
  font-weight: 900;
}

.blogImageRight {
  width: 900px;
  position: absolute;
  top: -80px;
  right: 0px;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}

.blogImageAndTextPart {
  width: calc(76% - 80px);
  position: relative;
}

.blogCommentTextPart1,
.blogCommentTextPart2 {
  color: white;
  margin: 20px;
  margin-top: 0px;
}

.blogCommentTextPart1 h3,
.blogCommentTextPart2 h3 {
  color: #FFD300;
  padding-bottom: 10px;
}

.blogCommentTextPart1 p,
.blogCommentTextPart2 p {
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 20px;
  width: 100%;
}

.blogCommentFull1,
.blogCommentFull2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 20px;
  margin-left: 80px;
}

.blogComment {
  padding-top: 50px;
  padding-left: 80px;
}

.blogComment h2 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  line-height: 99.8px;
}

.blogContactFormRight {
  height: 400px;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  background-color: #2B331B;
}

.blogContactFormRight fieldset {
  width: 500px;
  padding-left: 500px;
  background-color: #2B331B;
}

label {
  visibility: hidden;
  font-size: 1px;
}

.blogContactName,
.blogContactEmail {
  display: inline-block;
}

.blogContactName input,
.blogContactEmail input {
  width: 290px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #FFD300;
  background-color: #2B331B;
  color: white;
}

.blogContactMessage {
  display: block;
  margin-bottom: 40px;
}

.blogContactMessage input {
  width: 100%;
  height: 200px;
  border: 2px solid #FFD300;
  background-color: #2B331B;
  color: white;
}

.blogContactNameAndEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postCommentButton {
  height: 20px;
}

.postCommentButton button {
  border: none;
  height: 40px;
  width: 600px;
  background-color: #FFD300;
  display: block;
}

.blogContactFormRight fieldset {
  border: none;
  background-color: #2B331B;
}

.contactHeader {
  background: url(/assets/contact-header.jpg);
  background-repeat: none;
  height: 70vh;
  position: relative;
}

.contactMain {
  background-color: #2B331B;
  position: relative;
  height: 60vh;
}

.contactSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.contactSocialIcons i {
  color: #FFD300;
}

.contactList {
  /* does this do anything? */
  list-style: none;
  padding-top: 50px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contactList li {
  padding: 10px;
}

.contactInfoLeft {
  padding-top: 120px;
}

.asideAndSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fabContact {
  color: black;
}

.contactInfoList {
  list-style: none;
}

.socialIcons {
  list-style: none;
}

.socialIcons li:first-child {
  padding-left: 10px;
}

.contactSocialIcons a i {
  font-size: 25px;
}

.contactFormRight {
  height: 400px;
  width: 800px;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  position: absolute;
  top: -130px;
  right: 40px;
}

.contactFormRight fieldset {
  padding: 30px 40px 20px 30px;
  margin-right: 0;
}

label {
  visibility: hidden;
  font-size: 1px;
}

.contactName,
.contactEmail {
  display: inline-block;
}

.contactName input,
.contactEmail input {
  width: 290px;
  height: 40px;
  border: none;
  border-bottom: 4px solid #FFD300;
  background-color: #161A10;
  color: white;
}

.contactInfoEmail,
.contactInfoList {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
}

.contactInfoEmail {
  padding-bottom: 30px;
  padding-top: 20px;
}

.contactInfoList li {
  padding-bottom: 5px;
  font-family: 'Barlow', sans-serif;
}

.contactMessage {
  display: block;
  margin-bottom: 40px;
}

.contactMessage input {
  width: 100%;
  height: 200px;
  border: 4px solid #FFD300;
  background-color: #161A10;
  color: white;
  padding-bottom: 120px;
  padding-left: 20px;
}

.contactNameAndEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submitButton {
  height: 20px;
}

.submitButton button {
  border: none;
  padding: 15px 300px;
  background-color: #FFD300;
}

a.submitButton {
  padding-left: 0;
}

.contactFormRight fieldset {
  border: none;
  background-color: #161A10;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

p {
  font-family: 'Barlow', sans-serif;
}
